<h1>Editing favorite</h1>

<div class="row">
  <div class="small-8 columns">
    <%= render :partial => "form" %>
  </div>
</div>

<%= link_to 'Show', @favorite %> |
<%= link_to 'Back', favorites_path %>
