<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>EnRoute - Plan your next stop</title>

    <!-- Bootstrap Core CSS -->
    <link href="bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="index.css" rel="stylesheet">

    <!-- Custom Fonts -->
</head>

<body>
	<div id="big-header">
		<img src="logo.png"/>
	</div>

    <div id="main-menu">
		<div>
			<a href="plan_route.html">
				<button id="plan-route" class="btn btn-default main-menu-option" type="submit">PLAN MY ROUTE</button>
			</a>
			<a href="rate_business.html">
				<button id="rate-business" class="btn btn-default main-menu-option" type="submit">RATE A BUSINESS</button>
			</a>
			<a href="edit_business.html">
				<button id="edit-businesses" class="btn btn-default main-menu-option" type="submit">ADD/EDIT A BUSINESS</button>
			</a>
			<a href="edit_settings.html">
				<button id="edit-settings" class="btn btn-default main-menu-option" type="submit">MY SETTINGS</button>
			</a>
		</div>
		<div class="little-space"></div>
		<div>
			<a href="login.html">
				<button id="login" class="btn btn-default main-menu-option" type="submit">SIGN IN</button>
			</a>
		</div>
    </div>

    <!-- jQuery Version 1.11.0 -->
    <script src="jquery-1.11.0.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="bootstrap.min.js"></script>

</body>

</html>