<h2>EnRoute Feedback</h2>

<p>EnRoute appreciates any feedback on the services it provides. If you have feedback pertaining to a specific business, please contact that business directly.</p>

<%= link_to 'Back',home_path, :class => 'button alert radius' %>