<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Welcome to EnRoute</title>

    <!-- Bootstrap Core CSS -->
    <link href="bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="index.css" rel="stylesheet">

    <!-- Custom Fonts -->
</head>

<body>
	<div id="big-header">
		<img src="logo.png"/>
	</div>

    <div id="main-menu">
		<div>
			<center>
			<%= link_to 'Plan Route', 'welcome/base_map', :class => 'btn btn-primary btn-lg outline' %>
		</center>
		<center>
			<%= link_to 'Rate Business', 'welcome/rate_business', :class => 'btn btn-primary btn-lg outline' %>
		</center>
		<center>
			<%= link_to 'Edit Settings', 'welcome/edit_settings', :class => 'btn btn-primary btn-lg outline' %>
		</center>
		</div>
		<div class="little-space"></div>
		<div>
			<center>
			<%= link_to 'Login', login_path, :class => 'btn btn-primary btn-lg outline' %>
		</center>
		</div>
    </div>

    <!-- jQuery Version 1.11.0 -->
    <script src="jquery-1.11.0.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="bootstrap.min.js"></script>

</body>

</html>