<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Welcome to EnRoute</title>

</head>

<body>
	<center>
		<br></br>
<div>
		<%= image_tag "logo_car.png"%>
	</div>
		<h1>Welcome to EnRoute</h1>
		<h3>Plan. Schedule. Go.</h3>
		
		<br></br>
		<div>
			<%= link_to 'Login', login_path %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<%= link_to 'Sign Up', new_user_path %> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<%= link_to 'Go to Map', home_path %>

		</div>
</center>
</body>

</html>
