<h2>The EnRoute Privacy Policy</h2>

<p>EnRoute is committed to ensuring that your privacy is protected. Should we ask you to provide certain information by which you can be identified when using this website, then you can be assured that it will only be used in accordance with this privacy statement.
EnRoute may change this policy from time to time by updating this page. You should check this page from time to time to ensure that you are happy with any changes. This policy is effective from May 2015.
</p>

<br>

<p>We collect a variety of information that is required to understand your needs and provide you with a better service. More specifically, we may use it for internal record keeping, improving our services, sending updates, emergency contacts, website customization, etc. We will never sell your information or reveal it to outside parties without your permission.
</p>

<br>

<p>We are committed to ensuring that your information is secure. In order to prevent unauthorized access or disclosure we have put in place suitable procedures to safeguard and secure the information we collect online to the best of our abilities.
</p>

<br>

<p>We will not sell, distribute or lease your personal information to third parties unless we have your permission or are required by law.
</p>

<br>

<p>If you believe that any information we are holding on you is incorrect or incomplete, please write to or email us as soon as possible if you do not have access to change it yourself. We will promptly correct any information found to be incorrect.
</p>

<%= link_to 'Back',home_path, :class => 'button alert radius' %>