<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>EnRoute - Plan your next stop</title>

    <!-- Bootstrap Core CSS -->
    <link href="bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="index.css" rel="stylesheet">

    <!-- Custom Fonts -->
</head>

<body>
	<div id="sign-in" class="toolbar up-right">
        <button id="login" class="btn btn-default teal" type="submit">SIGN IN</button>
    </div>
	
	<div id="top-menu">
		<a href="index.html"><img src="logo_small.png"/></a>
    </div>
	
	<div id="content">
		I am the content
    </div>

    <!-- jQuery Version 1.11.0 -->
    <script src="jquery-1.11.0.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="bootstrap.min.js"></script>

</body>

</html>