<!DOCTYPE html>
<html>
<head>
  <title>EnRoute</title>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBD-Jj7sqAT8QMdakHot8YBL5mdKr-F-cA"></script>
  <script type="text/javascript" src="http://google-maps-utility-library-v3.googlecode.com/svn/trunk/infobox/src/infobox.js"></script>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
